{% extends "base.html" %}

{% block title %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<h1 id="welcome" class="signup" style="margin-left:40px; margin-top: 15px;">Welcome to Civitas!</h1>

<div id='sign-up' style="width:100%;">

    <form method="POST" style="margin-left: 50px;">
        {% csrf_token %}
        {{form|crispy}}

        <p style="font-size: small;">Already have an account? <a href="/login" id="'redirect">Login here</a></p> 
        <button type="submit" id="sign-up-button">Sign Up</button>
    </form>

</div>
{% endblock %}