{% extends "base.html" %}

{% block title %}Learning Steps{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% for lesson in lesson_list.all %}
    <div class="box">
        <a href="{{lesson.slug}}/" class="headings"><p class="box-list">{{lesson.subjects}}</p></a>
        <p class="box-list">{{lesson.start_level}}</p>
    </div>
{% endfor %}

    <a href="new/"><button class="centerbtn" style="margin-top: 30px;">Add a new lesson</button></a>

{% else %}

    <p>Please <a href="/sign-up">Sign Up</a> or <a href="/login">Login</a></p>

{% endif %}

{% endblock %}